{% extends 'accounts/Agent_Login.html' %}
{% block body %}
<div class="container">

  <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Amount</th>
              <th>Address</th>
              <th>Time</th>
              <th>status</th>

          </tr>
        </thead>

        <tbody>
          {% for Details in details %}
          <tr>
            <td>{{ Details.user }}</td>
            <td>{{ Details.phone }}</td>
            <td>{{ Details.amount }}</td>
            <td>{{ Details.Address }}</td>
            <td>{{ Details.Donate_time }}</td>
            <td>{{ Details.status }}</td>
          </tr>

           
    {% endfor %}

           </div>
          </div>
               </div>
                 </div>
                </div>
               </div>
                   </div>
                    </div>    </div> </div>



        </tbody>

      </table>

</div>

{% endblock %}
